@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%
}

nav, nav.main div.menu {
	background-color: #00659B;
}

nav.main a.brand, nav.main div.menu a.pseudo.button {
	color: white;
}

.content {
	padding: 4em 1em;
}
