body {
}

nav, nav.container, .side-nav {
	background-color: #00659B;
}

nav a, .container .side-nav li a {
	color: white;
}

#teamDrop.dropdown-content li a, #teamDrop-mobile.dropdown-content li a{
	background-color: white;
	color: #333130;
}

.subnav .button {
	background: #333130;
}

/*.logo {
	height: 1.5em;
	width: 1.5em;
}*/

.content {
	padding: 4em 1em;
	/*max-width: 1280px;
	margin: auto;*/
}